body,html{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column ;
}
#top{
	flex: 9;
	position: relative;
}
#top .page{
	position:absolute;
	left:0;
	top:0;
	width: 100%;
	height:100%;
	display: none;
}
#top #homepage{
	display: block;
}

#top #homepage #homepage-header{
	width:100%;
	height:10%;
	background:blue;
}

#top #homepage #homepage-main{
	width:100%;
	height:90%;
	background:purple;
	overflow: scroll;
}


#footer{
	flex: 1;
	width: 100%;
	background:white;
	display: flex;
	align-items: center;
}
#footer nav{
	display:flex;
	width:100%;
	height:100%;
}
#footer nav li{
	flex: 1;
	text-align: center;
}
#footer .nav li i{
	font-size:2.5rem;
}
#footer .nav li.select{
	color:#ff6f19;
}
/*页面二:导航开始*/

#top #navigation-header{
	width:100%;
	height:10%;
	position:relative;
}
#top #navigation-main{
	width:100%;
	height:90%;
}
#top #navigation-header .nav{
	width:75%;
	height:2.25rem;
	border-radius:15px;
	background:#e9e7e7;
	position: absolute;
	left:2rem;
	top:1.2rem;
	color:#8e8e93;
}
#top #navigation-header .nav .icon-fangdajing1{/*搜索框左边的放大镜*/
	float:left;
	width:20%;
	text-align: center;
	height:2.25rem;
	line-height: 2.25rem;
}
#top #navigation-header .nav .search{/*搜索框*/
	float:left;
	display: block;
	outline: none;
	width:80%;
	height:2.25rem;
	line-height: 2.25rem;
	border:0;
	border-radius:15px;
	background:#e9e7e7;
	
}
#top #navigation-header .cancel{
	width:10%;
	margin-left:0.2rem;
	outline: none;
	position:absolute;
	right:1rem;
	top:1.2rem;
	height:2.25rem;
	color:#d4d4d4;
	border:0;
	background:white;
}
#top #navigation-main{
	width:90%;
	padding-left:10%;
	overflow: scroll;
}
#top #navigation-main li{
	margin-top:0.5rem;
	float:left;
	width:45%;
	
}
#top #navigation-main li a{
	font-size:1.5rem;
	color:black;
}



/*页面二:导航结束*/