@charset "utf-8";
body,html{
    display: flex;
    flex-direction:column;
}
#header div{
    overflow: hidden;
    margin-top:0.5rem;
}
#header{
    flex:1.5;
    position:relative;
    background:#f7f7f7;
    p{
        text-align: center;
        font-size:1.8rem;
        float:left;
        margin-left:10rem;
        
    }
    i{
        display:block;
        float:left;
        font-size:2rem;
        margin-left:1rem;
    }   
    nav{
        width:100%;
        position:absolute;
        bottom:0;
        li{
            float:left;
            width:33.3%;
            font-size:1.5rem;
            text-align: center;
            i{
                font-size:1.5rem;
                font-weight: bold;
            }
        }
    }
}
#header nav li.active{
    border-bottom:2px solid #ff9500;
    color:#ff9500;
}
#main{
    flex:8.5;
    overflow: scroll;
    .list{
        height:10.7rem;
        width:100%;
        border-bottom:1px solid #eaeaea;
        border-top:1px solid #eaeaea;
    }
    .pic{
        width:30%;
        height:90%;
        margin-top:1.5%;
        margin-left:2.5%;
        float:left;
        img{
            width:100%;
            height:100%;
        }
    }
    .dec{
        width:60%;
        height:93%;
        padding:0 2.5%;
        padding-top:2%;
        float:right;
        font-size:1.5rem;
        .price{
            color:red;
        }
    }
}
